.slick-prev, .slick-next {
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .slick-prev {
    left: -40px; /* Adjust positioning of left arrow */
    
  }
  
  .slick-next {
    right: -40px; /* Adjust positioning of right arrow */
  }
  
  .slick-slide img {
    border-radius: 10px; /* For rounded image corners */
  }
  
  .slick-track {
    display: flex;
    align-items: center;
  }



   #image3:hover{
    opacity: .5 !important;
    
   }
  