
.Password{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    min-height:100%;
    align-items: center;

}

.container{
    width: 400px;
    border: 1px solid black;
    padding:30px 20px;
    ;

}

.row .col{
    padding-top: 10px;
}